<h3>Comments</h3>
<div class="comments" [@openClose]="isComments ? 'open' : 'closed'">
  <ul *ngIf="comments?.length; else noContent">
    <li *ngFor="let comment of comments">
      <p>
        <strong *ngIf="comment.user">{{ comment.user.name }}</strong
        >: {{ comment.text }}
      </p>
    </li>
  </ul>

  <span class="close-comments" (click)="offComments()">
    <svg class="svg-comments">
      <use xlink:href="assets/sprite.svg#icon-cancel-circle"></use>
    </svg>
  </span>
  <ng-template #noContent>
    <h3>Here is no comments...</h3>
  </ng-template>

  <form
    action=""
    class="comment-form"
    (ngSubmit)="addComment()"
    [formGroup]="commentForm"
  >
    <input
      formControlName="comment"
      [class.valid-form]="commentForm.get('comment')?.valid"
      type="text"
      placeholder="Type comment..."
    />
    <button
      [class.valid-form]="commentForm.get('comment')?.valid"
      type="submit"
    >
      Add <span> 📤 </span>
    </button>
  </form>
</div>
