.profile-container {
  margin: 20px auto;
  padding: 10px;
  max-width: 600px;
  opacity: 0.9;
  border-radius: 1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  background-color: #f9f9f9;
}

h2 {
  border-bottom: 2px solid #bdbdbd;

  text-align: center;
  font-family: "Arial", sans-serif;
}

.profile-card {
  padding: 20px;
}

.profile-item {
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;

  border-bottom: 1px solid #ddd;
}

.profile-item strong {
  font-weight: 600;
}
.profile-bg {
  height: 100%;
  width: 100%;
  right: 0;
  top: 110px;
  border-radius: 1rem;
  z-index: -2;
  opacity: 0.5;

  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../../../assets/tekken-bg-hero.jpg");
}

@media (max-width: 768px) {
  .profile-container {
    max-width: 90%;
  }

  .profile-item {
    font-size: 14px;
    padding: 8px;
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 18px;
  }

  .profile-item {
    font-size: 12px;
  }
}
